---

#
# Copyright (c) 2014 Davide Guerri <davide.guerri@gmail.com>
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#    http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or
# implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

- name: Configure neutron
  ini_file: dest=/etc/neutron/neutron.conf
            section="{{ item.section }}"
            option="{{ item.option }}"
            value="{{ item.value }}"
  with_items:
    - section:  DEFAULT
      option:   auth_strategy
      value:    keystone
    - section:  DEFAULT
      option:   rpc_backend
      value:    neutron.openstack.common.rpc.impl_kombu
    - section:  DEFAULT
      option:   rabbit_host
      value:    "{{ rabbit_hostname }}"
    - section:  DEFAULT
      option:   rabbit_userid
      value:    "{{ rabbit_username }}"
    - section:  DEFAULT
      option:   rabbit_password
      value:    "{{ rabbit_pass }}"
  notify:
    - Restart neutron l3 agent

- name: Configure l3 agent
  ini_file: dest=/etc/neutron/l3_agent.ini
            section="{{ item.section }}"
            option="{{ item.option }}"
            value="{{ item.value }}"
  with_items:
    - section:  DEFAULT
      option:   interface_driver
      value:    neutron.agent.linux.interface.OVSInterfaceDriver
    - section:  DEFAULT
      option:   use_namespaces
      value:    True
  notify:
    - Restart neutron l3 agent

- name: Configure metadata agent
  ini_file: dest=/etc/neutron/metadata_agent.ini
            section="{{ item.section }}"
            option="{{ item.option }}"
            value="{{ item.value }}"
  with_items:
    - section:  DEFAULT
      option:   interface_driver
      value:    neutron.agent.linux.interface.OVSInterfaceDriver
    - section:  DEFAULT
      option:   auth_url
      value:    "{{ keystone_protocol }}://{{ keystone_hostname }}:{{ keystone_port }}/v2.0"
    - section:  DEFAULT
      option:   auth_region
      value:    "{{ auth_region }}"
    - section:  DEFAULT
      option:   admin_tenant_name
      value:    service
    - section:  DEFAULT
      option:   admin_user
      value:    neutron
    - section:  DEFAULT
      option:   admin_password
      value:    "{{ neutron_pass }}"
    - section:  DEFAULT
      option:   nova_metadata_ip
      value:    "{{ nova_metadata_ip }}"
    - section:  DEFAULT
      option:   metadata_proxy_shared_secret
      value:    "{{ metadata_secret }}"
  notify:
    - Restart neutron metadata agent
